@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #359381;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    header {
        padding: 20px 50px;
    }
    .logo {
        margin-right: 150px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .navigation a {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 10px;
    }
    .logo {
        font-size: 1.5em;
    }
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation a {
        padding: 5px 10px;
        margin: 5px 0;
    }
}


main{
    height: 50vh;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
    padding: 0 100px;
}

.text  {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    color: #359381;;
}



footer {
    background: #f0f9f6;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    font-size: 2em;
    color: #003329;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-icons a img {
    width: 40px;
    height: 40px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #003329;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #003329;
    font-size: 1em;
}