body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    to right,
    #05161a,
    #072e33
  ); /* Dark sky to lighter sky */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: appear 0.5s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f969c; /* Bright teal for emphasis */
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  padding-right: 40px; /* Make room for the icon */
}

.input-group input:focus {
  border-color: #6da5c0; /* Soft blue for focus */
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #666;
  transition: all 0.3s;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #0f969c;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #05161a; /* Very dark blue like the night sky */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #294d61; /* Dark slate blue */
}
